<div class="affiche-block row">
  <div class="col-md-5 shadow-sm">
    <div style="display: flex;">
      <i style="color: green;" class='bx bxs-certification'></i>
      <span> en stock</span> <br> <br> <br>
    </div>
    <h3>Améliorez votre <br> technologie</h3><br>
    <p style="color: grey;">Trouvez votre téléphone idéal <br>élégant et élégant ou économique</p>
    <br> <br>
    <a href="/iphone" class="btn btn-primary">Afficher</a>
  </div>
  <div class="col-md-3 watch shadow-sm" id="watch">
    <a href="/montresCoPage">
    <br>
    <p style="margin-left: 10px;">Montre connectée</p>
    </a>
  </div>
  <div class="col-md-3">
    <a href="#">
      <div class="top shadow-sm">
        <br> <br> <br> <br> <br> <br> <br> <br>
        <p>Pc et accessoires</p>
      </div>
    </a>
    <a href="#">
      <div class="bottom shadow-sm">
        <br> <br> <br> <br><br> <br> <br> <br>
        <p>Mode femme</p>
      </div>
    </a>
  </div>
</div>

<script>
  var box = document.getElementById('watch');
  box.addEventListener('click', (e) => {
    e.preventDefault();

    window.location.href = '/montresCoPage'
  })
</script>