<div id="burger-nav" class="burger-nav">
    <i onclick="icon_x()" id="x" style="margin-left: 85%; margin-top: 8px; font-size: 3rem;" class='bx bx-x'></i>
    <div id="menu-link">
        <div id="affiche">
            <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Commandez maintenant et payez à la livraison . </span >
        </div> <br>
        <div id="link" onclick="accueil()">
            <div class="left">
                <i style="font-size: 1.1rem;" class='fa-solid fa-house'></i>
                <p>Accueil</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="phone()" >
            <div class="left">
                <i class="fa-solid fa-mobile"></i>
                <p>Telephone & Pc</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="montres()">
            <div class="left">
                <i class="fa-brands fa-watchman-monitoring"></i>                <p>Montres & Bijoux</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="habitsH()">
            <div class="left">
                <i style="font-size: 1rem;" class="fa-solid fa-shirt"></i>
                <p>Vetements hommes</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="habitsF()">
            <div class="left">
                <i style="font-size: 1.5rem;" class="fa-solid fa-person-dress"></i>
                <p>Vetements femmes</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="enfant()">
            <div class="left">
                <i style="font-size: 1.5rem;" class="fa-solid fa-child"></i>
                <p>Vetements enfants</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="beauter()">
            <div class="left">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                <p>Beauter</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="maison()">
            <div class="left">
                <i class="fa-solid fa-bed"></i>
                <p>Meuble & deco</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="electroMenager()">
            <div class="left">
                <i class="fa-solid fa-blender"></i>
                <p>Electro-menager</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="chichaStore()">
            <div class="left">
                <i class="fa-solid fa-joint"></i>
                <p>Chicha store</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="vehicule()">
            <div class="left">
                <i class="fa-solid fa-car"></i>
                <p>Location de vehicule</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="appartement()">
            <div class="left">
                <i class="fa-solid fa-hotel"></i>
                <p>Location d'appartement</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <div id="link" onclick="panier()">
            <div class="left">
                <i class='bx bxs-shopping-bag-alt'></i>
                <p>Mon panier</p>        
            </div>
            <i style="font-size: 1.7rem;" class='bx bx-chevron-right'></i>
        </div> <br>
        <hr>
        <br> <br> <br>
        <div style="font-size: 1.5rem;display: flex; align-items: center; justify-content: space-around; ">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-facebook"></i>
        </div><br> <br> <br>
        <h6 style="font-size: 0.7rem; text-align: center;">Copyright © 2023 LafyShop
            Powered by <strong>Privat's labs</strong></h6>

        <br> <br> <br> <br>
    </div>
</div>