<div class="categories row">
    <div class="col-6">
        <div class="carte shadow-sm" onclick="iphone()">
            <div class="carte-top"> 
                <img src="./img/xr.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Iphone</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="samsung()">
            <div class="carte-top">
                <img src="./img/s22.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Samsung</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="oppo()">
            <div class="carte-top">
                <img src="./img/oppo.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Oppo</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="redmi()">
            <div class="carte-top">
                <img src="./img/xiomi.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Redmi</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="tecno()">
            <div class="carte-top">
                <img src="./img/tecno.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Tecno</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="infinix()">
            <div class="carte-top">
                <img src="./img/infinix.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Infinix</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="itel()">
            <div class="carte-top">
                <img src="./img/itel.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Itel</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="dell()">
            <div class="carte-top">
                <img src="./img/dell.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Dell</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="mac()">
            <div class="carte-top">
                <img src="./img/macbook.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>Macbook</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="hp()">
            <div class="carte-top">
                <img src="./img/hp.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p>HP</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="pcTools()">
            <div class="carte-top">
                <img src="./img/pcTools.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p  style="font-size: 0.9rem;" >Pc accessoires</p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carte shadow-sm" onclick="telTools()">
            <div class="carte-top">
                <img src="./img/phoneTools.jpg" width="75" alt="">
            </div>
            <div class="carte-details">
                <p style="font-size: 0.9rem;">Tel accessoires</p>
            </div>
        </div>
    </div>
</div>