<h1>Vous pouriez aimer</h1> <br>
<div class="container">
    <div class="carte">
        <img src="./img/phone.jpg" width="140" alt="">
        <div class="infos">
            <p>details  ici</p>
            <div class="etoils d-flex">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half' ></i>           
            </div>
            <span style="font-size: 1rem; text-decoration: line-through;">160.000 CFA</span><br>
            <span style="font-size: 1.3rem; color: rgb(194, 57, 15);">160.000 CFA</span>
        </div>
    </div>
</div>