<div class="menu-list">
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Telephone
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/iphone">Iphone</a></li>
      <li><a class="dropdown-item" href="/samsung">Samsung</a></li>
      <li><a class="dropdown-item" href="/oppo">Oppo</a></li>
      <li><a class="dropdown-item" href="/redmi">Redmi</a></li>
      <li><a class="dropdown-item" href="/infinix">Infinix</a></li>
      <li><a class="dropdown-item" href="/tecno">Tecno</a></li>
      <li><a class="dropdown-item" href="/itel">Itel</a></li>
      <li><a class="dropdown-item" href="/teltools">Pc accessoires</a></li>

    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pc
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/dell">Dell</a></li>
      <li><a class="dropdown-item" href="/hp">Hp</a></li>
      <li><a class="dropdown-item" href="/mac">Macbook</a></li>
      <li><a class="dropdown-item" href="/pctools">Pc accessoires</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Mode femme
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/outfitF">Outfit</a></li>
      <li><a class="dropdown-item" href="/sacF">Sac</a></li>
      <li><a class="dropdown-item" href="/chaussuresF">Chaussure</a></li>
      <li><a class="dropdown-item" href="/chaussetteF">Chaussette</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Mode homme
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/outfit">Outfit</a></li>
      <li><a class="dropdown-item" href="/sacH">Sac</a></li>
      <li><a class="dropdown-item" href="/chaussuresH">Chaussure</a></li>
      <li><a class="dropdown-item" href="/chaussetteH">Chaussette</a></li>
      <li><a class="dropdown-item" href="/chapeau">Chapeau</a></li>
      <li><a class="dropdown-item" href="/ceintureH">Ceinture</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Bijou & Montre
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/chaine">Chaine</a></li>
      <li><a class="dropdown-item" href="/montreCo">Montre connecter</a></li>
      <li><a class="dropdown-item" href="/montre">Montre</a></li>
      <li><a class="dropdown-item" href="/bague">Bague</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Chicha store
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/arome">Arome</a></li>
      <li><a class="dropdown-item" href="/chicha">Chicha</a></li>
      <li><a class="dropdown-item" href="/charbon">Charbon</a></li>
      <li><a class="dropdown-item" href="/puff">Puff</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Electro-menager
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/frigidere">Frigidaire</a></li>
      <li><a class="dropdown-item" href="/grillesPains">Grille-pain</a></li>
      <li><a class="dropdown-item" href="/fours">Four</a></li>
      <li><a class="dropdown-item" href="/cusinieres">Cuisinière</a></li>
      <li><a class="dropdown-item" href="/cafetieres">Cafetière</a></li>
      <li><a class="dropdown-item" href="/mixeurs">Mixeur</a></li>
      
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Meuble & deco
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/meublePage">Canapé</a></li>
      <li><a class="dropdown-item" href="/decoPage">Decoration</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     Beauté
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/beauter">Beauté</a></li>
    </ul>
  </div>

</div>