<div class="pc-affiche">
    <br> <br> <br> <br><br> <br> <br> <br>
    <div >
        <h2>Découvrir <br>notre vaste choix d'ordinateurs</h2> <br>
        <a class="btn btn-primary" href="#">Acheter maintenant</a>
    </div>
    
</div>