<div class="promo">
    <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Commandez maintenant et payez à la livraison . </span >
</div>