<div class="slider-container nav-bar">
    <h3 style="text-align: start; margin-left: 10px;">Nos categories</h3>
    <div class="slider" id="slider">
        <div class="nav-bar-card shadow-sm" onclick="maison()"> 
            <div class="carte-top">
                <p>Meubles et <br>
                    deco
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/canaper.jpg" alt="">
            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="beauter()">
            <div class="carte-top">
                <p>Beauté <br>
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/beauter.jpg" alt="">
            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="montres()">
            <div class="carte-top">
                <p>Bijoux et <br> montre <br>
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/bijoux.jpg" alt="">
            </div>
        </div>
        
        <div class="nav-bar-card shadow-sm" onclick="phone()">
            <div class="carte-top">
                <p>Telephone, Pc et<br>
                    accessoires
                    
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/xr.jpg" alt="">
            </div>
        </div>
       
        <div class="nav-bar-card shadow-sm"  onclick="habitsF()">
            <div class="carte-top">
                <p>Vêtements et <br>
                    chaussures Femme 
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/femme.jpg" width="40" alt="">

            </div>
        </div>
        <div class="nav-bar-card shadow-sm"  onclick="habitsH()">
            <div class="carte-top">
                <p>Vêtements et <br>
                    chaussures Homme 
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/homme.jpg" alt="">

            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="enfant()">
            <div class="carte-top">
                <p>Vêtements <br>
                    enfants
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/enfants.webp" alt="">

            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="electroMenager()">
            <div class="carte-top">
                <p>Electro - <br>
                    menager
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/mixer.jpg" width="30" alt="">

            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="chichaStore()">
            <div class="carte-top">
                <p>Chicha store
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/chicha.webp" width="30" alt="">

            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="appartement()">
            <div class="carte-top">
                <p>Location de <br> maison <br>
                </p>
            </div>
            <div class="carte-bottom">
                <img src="/img/maison.webp" alt="">
            </div>
        </div>
        <div class="nav-bar-card shadow-sm" onclick="vehicule()">
            <div class="carte-top">
                <p>Location de <br> véhicule</p>
            </div>
            <div class="carte-bottom">
                <img src="/img/voiture.jpg" alt="">
            </div>
        </div>
                
    </div>
</div>