<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="2"> -->
  <meta name="theme-color" content="#293847">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


  <!-- awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- box icon here  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- boostrap here -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <!-- mon css here -->
  <link rel="stylesheet" href="/css/commander.css">
  <title>Accueil</title>
</head>

<body id="body">

  <div class="top">
    <h3>LafyShop</h3>
  </div>

  <div class="main">
    <h1>Effectuez vos achats</h1> <br>
    <p>Pour finaliser votre commande en toute simplicité, nous avons besoin de quelques informations essentielles.
      Ces détails nous permettront de traiter votre commande avec soin et de vous assurer une expérience d'achat
      optimale .</p>
    <br>

    <form id="form">
      <label for="nom">Nom et prenom</label> <br>
      <input type="text" id="nom" name="nom" required>

      <label for="tel">Numero de telephone</label> <br>
      <input type="tel" id="tel" name="tel" required>
      <br>
      <label for="adresse">Adresse</label> <br>
      <input type="text" id="adresse" name="adresse" required>
      <br> <br>
      <button class="Btn" id="btn">
        Terminer
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="green">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 18 21 6l-1.41-1.41L9 16.17z" />
        </svg>

        <!-- <svg class="svgIcon" viewBox="0 0 576 512"><path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path></svg> -->
      </button>

    </form>
    <br> <br> <br>
    <h6 style="font-size: 0.7rem; text-align: center;">Copyright © 2023 LafyShop
      Powered by <strong>Privat's labs</strong></h6>


  </div>





  <!-- boostrap here -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


  <script>
    var btn = document.getElementById('btn');

    // Gérer le clic sur le bouton "envoyerTelegram"
    document.getElementById("btn").addEventListener("click", function(e) {
      e.preventDefault();
      const nom = document.getElementById('nom').value;
      const adresse = document.getElementById('adresse').value;
      const tel = document.getElementById('tel').value;

      // Récupérer les données du localStorage
      var produits = JSON.parse(localStorage.getItem('lafyshop')) || [];

      // Ajouter une vérification supplémentaire pour s'assurer que produits est un tableau
      if (!Array.isArray(produits)) {
        produits = [];
      }

      // ...



      // Effectuez une requête HTTP POST vers le serveur
      if (nom.value !== '' && adresse.value !== '' && tel.value !== '') {
        // Construire l'objet data à inclure dans le corps de la requête
        var data = {
          nom: nom,
          adresse: adresse,
          tel: tel,
          produits : produits
        };


        fetch('/envoyer-sur-telegram', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then((response) => {
            if (response.ok) {
              window.location.href = '/valider'
            } else {
              alert("Erreur lors de l'envoi de la commande sur Telegram.");
            }
          })
          .catch((error) => {
            console.error("Erreur lors de l'envoi de la commande au serveur :", error);
            alert("Erreur lors de l'envoi de la commande sur Telegram.");
          });
      } else {
        return alert('merci de bien remplir les champs. !');

      }
    });
  </script>


</body>

</html>