<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#293847">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- box icon here  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">

  <!-- boostrap here -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- mon css here -->
  <link rel="stylesheet" href="/css/categories.css">
  <title>Vetements</title>
</head>

<body id="body">
  <%- include('composants/nav.ejs') %>
  <br>
  <%- include('composants/burger-menu.ejs') %>
  <%- include('composants/panier.ejs') %>

  <br><br> <br>


  <br>
  <h3 style="margin-left: 10px;">Vetements hommes</h3>
  <div class="categories row">
    <div class="col-6">
      <div class="carte shadow-sm" onclick="outfitH()">
        <div class="carte-top">
          <img src="./img/outfit.webp" width="65" alt="">
        </div>
        <div class="carte-details">
          <p>Outfit</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="carte shadow-sm" onclick="chaussuresH()">
        <div class="carte-top">
          <img src="./img/chaussureH.jpg" width="75" alt="">
        </div>
        <div class="carte-details">
          <p>Chaussures</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="carte shadow-sm" onclick="sacH()">
        <div class="carte-top">
          <img src="./img/sacH.jpg" width="75" alt="">
        </div>
        <div class="carte-details">
          <p>Sac</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="carte shadow-sm" onclick="chaussetteH()">
        <div class="carte-top">
          <img src="./img/chaussettes.jpg" width="75" alt="">
        </div>
        <div class="carte-details">
          <p>Chaussettes</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="carte shadow-sm" onclick="chapeau()">
        <div class="carte-top">
          <img src="./img/chapeau.jpg" width="75" alt="">
        </div>
        <div class="carte-details">
          <p>Chapeau</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="carte shadow-sm" onclick="ceintureH()">
        <div class="carte-top">
          <img src="./img/ceinture.jpg" width="75" alt="">
        </div>
        <div class="carte-details">
          <p>Ceinture</p>
        </div>
      </div>
    </div>

  </div>





  <!-- FOOTER ICI  -->
  <%- include('composants/footer.ejs') %>
  <!-- FOOTER ICI  -->

  <script src="/script/index.js"></script>
  <!-- boostrap here -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>