
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* la navigation ici  */
body {
background-color: rgba(240, 255, 255, 0.568);
overflow: visible; /* Assurez-vous que le défilement est autorisé sur le corps et le HTML */

}
body .page-top{
background-color: #293847;
height: auto;
padding-bottom: 5px;
display: flex;
flex-direction: column;
align-items: center;
position: fixed; 
  z-index: 5; 
  top: 0;         
  left: 0;         
  width: 100%;  
}

body nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 9px;
  color: white;
  background-color: #293847;
  position: fixed; 
  z-index: 5; 
  top: 0;         
  left: 0;         
  width: 100%;    
}
nav i{
  font-size: 2rem;
}
nav .bar-vertical{
  height: 30px;
  border: 1px solid;
  color: rgba(128, 128, 128, 0.294);
  margin-left: 5px;
  margin-right: 5px;
}
nav .nav-right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
  margin-right: 5px;
}
nav .nav-left{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;

}
nav #bx-search{
  display: none;
}


/* la navigation ici  */

/* la barre de recherche ici */

/* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */

.form {
--input-bg: #FFf;
/*  background of input */
--padding: 1.5em;
--rotate: 80deg;
/*  rotation degree of input*/
--gap: 2em;
/*  gap of items in input */
--icon-change-color: #15A986;
/*  when rotating changed icon color */
--height: 40px;
/*  height */
width:95%;
margin-top: 65px;
padding-inline-end: 1em;
/*  change this for padding in the end of input */
background: var(--input-bg);
position: relative;
border-radius: 4px;
}

.form label {
display: flex;
align-items: center;
width: 100%;
height: 32px;
margin-bottom: 5px;
/* height: var(--height); */
}

.form input {
width: 100%;
padding-inline-start: calc(var(--padding) + var(--gap));
outline: none;
background: none;
border: 0;
height: 100%;
margin: auto;
}
/* style for both icons -- search,close */
.form svg {
/* display: block; */
color: #111;
transition: 0.3s cubic-bezier(.4,0,.2,1);
position: absolute;
height: 15px;
}
/* search icon */
.icon {
position: absolute;
left: var(--padding);
transition: 0.3s cubic-bezier(.4,0,.2,1);
display: flex;
justify-content: center;
align-items: center;
}
/* arrow-icon*/
.swap-off {
transform: rotate(-80deg);
opacity: 0;
visibility: hidden;
}
/* close button */
.close-btn {
/* removing default bg of button */
background: none;
border: none;
right: calc(var(--padding) - var(--gap));
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
color: #111;
padding: 0.1em;
width: 20px;
height: 20px;
border-radius: 50%;
transition: 0.3s;
opacity: 0;
transform: scale(0);
visibility: hidden;
}

.form input:focus ~ .icon {
transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus ~ .icon .swap-off {
opacity: 1;
transform: rotate(-80deg);
visibility: visible;
color: var(--icon-change-color);
}

.form input:focus ~ .icon .swap-on {
opacity: 0;
visibility: visible;
}

.form input:valid ~ .icon {
transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid ~ .icon .swap-off {
opacity: 1;
visibility: visible;
color: var(--icon-change-color);
}

.form input:valid ~ .icon .swap-on {
opacity: 0;
visibility: visible;
}

.form input:valid ~ .close-btn {
opacity: 1;
visibility: visible;
transform: scale(1);
transition: 0s;
}

/* la barre de recherche ici */

/* burger menu ici  */
body .burger-nav {
  max-height: 100vh; /* Par exemple, définissez une hauteur maximale */
  background-color: white;
  color: rgb(57, 56, 56);
  position: absolute;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
  overflow-y: auto; /* Permet le défilement vertical lorsque le contenu dépasse la hauteur maximale */
}


.burger-nav #menu-link{
  display: none;
  padding: 10px;
}
.burger-nav #menu-link p{
font-size: 0.8rem !important;
margin: 0;
margin-left: 10px;
}

.burger-nav #affiche {
  height: auto;
  margin-top: 5px;
  background-color: #0f68c1;
  padding: 10px 0px 10px 0px;
  font-weight: bolder;
  font-size: 0.9rem !important;
  text-align: center;
  color: white;
}
.burger-nav #link{
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-weight: 600;
 padding: 0px;
 height: 30px;
}
#link .left{
display: flex;
align-items: center;
justify-content: center;
}
#link .left i{
font-size: 1.2rem;
color: grey;  
margin-right: 20px;
}

/* burger menu ici  */

/* burger menu ici  */
.scroll-annule{
  overflow: hidden;
}
 body .burger-nav {
    max-height: 100vh; /* Par exemple, définissez une hauteur maximale */
    background-color: white;
    color: rgb(57, 56, 56);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    overflow-y: auto; /* Permet le défilement vertical lorsque le contenu dépasse la hauteur maximale */
  }

  
 .burger-nav #menu-link{
    display: none;
    padding: 10px;
 }
 .burger-nav #menu-link p{
  font-size: 0.8rem !important;
  margin: 0;
  margin-left: 10px;
 }

 .burger-nav #link{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   padding: 0px;
   height: 30px;
 }
 #link .left{
  display: flex;
  align-items: center;
  justify-content: center;
 }
#link .left i{
  font-size: 1.2rem;
  color: grey;  
  margin-right: 20px;
}

 /* burger menu ici  */

/* mon panier ici  */
.monPanier {
  background-color: white;
  width: 0%; /* Ajusté pour occuper toute la largeur */
  min-height: 100vh;
  max-height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  /* overflow-y: auto; */
  max-height: 100vh;
  transition: 0.3s ease-in-out;
  padding-bottom: 90px; /* Ajoutez une marge inférieure pour .panier-footer */
  
}

.monPanier .top {
  display: flex;
  align-items: center;
  background-color: #293847;
  color: white;
  height: 70px;
  width: 100%; /* Ajusté pour occuper toute la largeur */
  position: sticky;
  top: 0;
  z-index: 1; /* Assurez-vous que .top est au-dessus du reste du contenu */
}

.monPanier h3 {
  margin: auto; /* Supprimé l'espacement par défaut pour le titre */
  padding: 10px; /* Ajouté un peu d'espacement autour du titre */
}

.monPanier .center {
  padding: 10px;
  max-height: calc(100vh - 100px); /* Ajusté la hauteur maximale */
  overflow-y: auto; /* Défilement si nécessaire */
  padding-bottom: 200px;

}

.monPanier .panier-vide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Ajusté l'espacement */
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.panier-vide button {
  width: 100%;
  background-color: #0f68c1;
  color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 9px;
  height: 45px;
  margin-top: 10px; /* Chaque bouton se trouve au-dessus de l'autre pour plus de clarté */
}

.panier-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px; /* Ajusté la hauteur pour que .panier-footer soit toujours présent en bas du panier */
  width: 100%;
  padding: 20px 20px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panier-footer button {
  width: 100%;
  height: 45px;
  background-color: rgb(64, 200, 64);
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 10px; /* Ajouté un peu d'espacement à droite */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.scroll-annule{
  overflow: hidden;
}
/* mon panier ici  */

/* categories carte ici  */

.categories {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 55px;
  margin-bottom: 25px;
}
.categories .carte{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}
.categories .carte-top{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
}
.categories .carte-details{
  height: 50px;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}


/* categories carte ici  */

/* footer ici  */
.bg-footer {
  background-color: #293847;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.apple {
  background-color: #424041;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

 /* footer ici  */
